venv/
**/*.log
**/*.fls
**/*.out
**/*.aux
**/*.fdb_latexmk
**/*.synctex.gz
**/*.blg
**/*.bbl
.ipynb_checkpoints/
.DS_Store
__pycache__/
ModelingHowDifferentUserGroups_model/
combined/
*.zip
*.tar.gz
ui_layout_vectors/
